<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <main>
        <section>
            <form method="POST">
                {% csrf_token %}
                {% if error %}
                <p style="color: red">Tus credenciales son incorrectas, favor de hacerlo bien</p>
                {% endif %}
                <label for="username-id">Nombre de usuario:</label>
                <input type="text" name="username" id="username-id" />
                <label for="password-id">Contraseña:</label>
                <input type="password" name="password" id="password-id">
                <button type="submit">Iniciar sesión</button>
            </form>
        </section>
    </main>
</body>
</html>